//Animations
@keyframes hero_btn-work {
    0% { box-shadow: 0 0 0 0 $paletColor1; }
    100% { box-shadow: 0 0 0 1em rgba(#fff,0); }
}

@keyframes hero_btn-contact {
    0% { box-shadow: 0 0 0 0 $fontColor; }
    100% { box-shadow: 0 0 0 1em rgba(#fff,0); }
}

@keyframes cursor_spin {
    0% { transform: scale(1.5) rotate(0deg); }
    100% { transform: scale(1.5) rotate(360deg); }
}

// CSS: transform
@mixin transform($property) { 
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
  }

// CSS: transition
@mixin transitions($time) {
    -webkit-transition: $time;
    transition: $time;
}

@mixin transitionsMulti($args1, $args2, $args3) {
    -webkit-transition: $args1, $args2, $args3;
    -o-transition: $args1, $args2, $args3;
    transition: $args1, $args2, $args3;
};

// CSS width and height
@mixin dimensions($width, $height) {
    width: $width;
    height: $height;
}

/******************************************
    MEDIA QUERIES
******************************************/

@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 @mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 @mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
 }

 @mixin xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
 }



::-webkit-scrollbar {
    display: none;
}

*, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -ms-scroll-chaining: none;
    -ms-content-zooming: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    // cursor: none !important;
}

button, a {
    &:active,
    &:focus {
        outline: none;
    }
}

html {
    font-size: 14px;
    @include lg {
        font-size: 12px;
    }
    @include sm {
        font-size: 10px;
    }
}

body {
    overflow-X: hidden;
    width: 100vw;
    font-family: $font_default;
    color: $fontColor;
    background-color: $paletColor4;
}

.site__wrapper {
    max-width: 2000px;
    margin: auto;
    width: 100%;
}

.brand {
    position: fixed;
    z-index: 100;
    width: 70px;
    left: 40px;
    top: 20px;
}

.menu {
    position: fixed;
    z-index: 100;
    width: 70px;
    height: 60px;
    right: 40px;
    top: 20px;

    &:hover {
        .bar-3 {
            width: 70%;
            left: 30%;
        }
    }

    div {
        width: 100%;
        height: 3px;
        background-color: #fff;
        margin: 12px 0;
        position: relative;
        @include transitions(all .23s ease);
    }

    .bar-1 {
        width: 100%;
        left: 0%;
    }

    .bar-2 {
        width: 70%;
        left: 30%;
    }

    .bar-3 {
        width: 50%;
        left: 50%;
    }
}

.btn {
    padding: 0.8em 1.7em;
    font-size: 0.7em;
    border-radius: 50px;
    border: 0;
    margin: 0 20px;
}

.section__title {
    font-family: $font_title;
    user-select: none;
    position: absolute;
    margin-top: 100px;
    width: calc(100% - 4em);

        
    @include transform(translateX(15%));
    @include md {
        @include transform(none);
        font-size: 0.7em;
        text-align: center;
        position: static;
        width: 100%;
    }
    h2 {
        opacity: 0.1;
        font-size: 15em;
        line-height: 0;
    }
    p {
        margin-top: 120px;
        font-size: 3em;
        text-indent: 20px;
        @include md {
            margin-top: 60px;
        }
    }
}


/******************************************************
    NAVIGATION 
******************************************************/

.navigation {

    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    background: url('./assets/menu_bg.jpg') center/cover no-repeat;
    display: grid;
    align-content: center;
    justify-content: end;
    @include md {
        justify-content: center;
    }

    &__container {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        margin-right: 200px;
        text-align: right;
        @include md {
            margin: 0;
        }

        &:hover a {
            color: transparent;
            text-shadow: 0px 0px 10px #eee
        }
    }

    a {
        font-size: 9vh;
        font-family: $font_title;
        text-decoration: none;
        position: relative;
        z-index: 1001;
        color: $fontColor;
        filter: blur(0px) ;
        @include transitions(all .23s ease);

        &::before {
            font-size: 0.4em;
            content: attr(item-num) '/ ';
        }

        &:hover {
            color: $fontColor !important;
            
        }
    }
    

    
}

/******************************************************
    HERO 
******************************************************/

$hero_gradient: linear-gradient(259.94deg, rgba(0, 0, 0, 0.5) 1.09%, rgba(0, 0, 0, 0.05) 2.15%, #000 47.5%);

.hero {

    width: 100%;
    height: 100vh;
    background: transparent right bottom/cover no-repeat;
    background-image: $hero_gradient, url('./assets/hero_profile.png');
    background-blend-mode: lighten, screen;
    filter: opacity(0);
    @include transform(translateX(20px) scaleX(1.05));
    @include md {
        background-image: $hero_gradient, none;
    }

    &__header {
        display: grid;
        align-content: center;
        grid-template-columns: minmax(auto, 900px);
        height: 100vh;
        min-height: 600px;
        padding: 0 150px 0;
        font-size: 1.7em;
        @include md {
            margin: auto;
            padding: 0;
            align-items: center;
            width: calc(100% - 4em);
        }
    }

    &__header-h1, &__header-h3 {
        font-weight: 300;
        margin-bottom: 20px;
        opacity: 0;
        span {
            font-weight: 700;
        }
    }

    &__header-h1 {
        font-size: 1.8em;
    }

    &__header-h3 {
        margin-bottom: 40px;
    }

    .call_to_action {
        justify-content: center;
        opacity: 0;
        
        @include lg {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            justify-items: center;
        }        
        
        button {
            max-width: 150px;
            min-width: 200px;
            margin: 20px;
            @include dimensions(100%, auto);
        }

        .view_work {
            color: $fontColor;
            background: -moz-linear-gradient(150deg, $paletColor1 0%, $paletColor3 80%);
            background: -webkit-linear-gradient(150deg, $paletColor1 0%, $paletColor3 80%);
            background: linear-gradient(150deg, $paletColor1 0%, $paletColor3 80%);
            &:hover, &:focus {
                animation: hero_btn-work 1s;
            }
        }

        .contact_me {
            color: $fontColor;
            background-color: transparent;
            border: 2px solid $fontColor;
            &:hover, &:focus {
                animation: hero_btn-contact 1s;
            }
        }
    }
            

}

/******************************************************
    WORK - Web 
******************************************************/

.web {


    &__container {
        margin: 60px auto 0;
        padding-top: 400px;
        max-width: 1400px;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        justify-items: center;
        @include md {
            grid-template-columns: 1fr;
            padding: 0;
        }
    }

    .item {

        &:hover {
            .item__display {
                filter: opacity(20%);
            }
            .item__meta {
                @include transform(translateY(-$webHeight + 50px));
            }
            .view_more {
                opacity: 1;
            }
        }

        &__wrapper {
            min-height: 500px;
            width: $webWidth;
                    @include md {
                        min-height: 0;
                        @include transform(scale(0.8) !important);
                    }
            
            &.item-1 {
                @include transform(translateY(0px));
            }
            &.item-2 {
                @include transform(translateY(300px));
            }
            &.item-3 {
                @include transform(translateY(50px));
            }
            &.item-4 {
                @include transform(translateY(0px));
            }
            &.item-5 {
                @include transform(translateY(200px));
            }
    
        }

        &__display {
            height: $webHeight;
            
            @include transitions(all .4s ease);
        }

        &__meta {
            text-align: center;
            font-weight: bold;
            font-size: 1.7em;
            display: flex;
            flex-direction: column;
            position: absolute;
            pointer-events: none;

            @include dimensions($webWidth, $webHeight);
            @include transitions(all .4s ease);
        }

        .view_more {
            font-size: 0.8em;
            margin-top: 20px;
            opacity: 0;
            @include transitions(all .23s ease);
            
        }
    }
}

/******************************************************
    WEB DETAILS
******************************************************/

.web-details {
    width: 100%;
    overflow-X: hidden;

    &__meta {
        position: fixed;
        min-height: 100%;
        top: 0;
        left: 0;
        width: 45%;
        min-width: 768px;
        padding: 0.7em 3.8em 4.2em;
        display: grid;
        grid-template-rows: 170px calc(100% - 240px) 70px;
        @include lg {
            min-width: 0;
            width: 100%;
        }
    }

    &__header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        background-color: $paletColor4;

        .id-tag {
            font-size: 120px;
            font-family: $font_title;
            mix-blend-mode: overlay;
        }

        .go-back {
            background: transparent;
            color: $fontColor;
            font-size: 40px;
            padding: 0;
            margin: 0;
            justify-self: end;
            align-self: start;
            font-family: $font_title;
            font-weight: 200;
            display: flex;
            flex-direction: column;
            @include transform(scaleX(1.5));
            @include transitions(all .23s ease);
            &:hover {
                @include transform(scale(1.1, 1.1));
            }
            &::after {
                content: 'Back';
                font-size: 15px;
                line-height: 0.2;
            }
        }
    }

    &__details {

        text-align: right;

        .btn-view-site {
            margin-top: 40px;
            font-size: 1.6em;
            background-size: 600% 100%;
            color: #fff;
            box-shadow: 0 0 50px rgba($paletColor1, .5);
            background-color: $paletColor1;
            background-image: linear-gradient(to right,
                $paletColor1,
                $paletColor2,
                $paletColor2,
                $paletColor1);
            @include transitionsMulti (
                background 3s ease,
                box-shadow .3s ease,
                transform .5s ease
            );
            

            &:hover {
                background-position: 100% 0;
                box-shadow: 0 5px 50px $paletColor1;
            }
        }
    }

    &__navigation {
        display: grid;
        grid-template-columns: 1fr 5px 1fr;
        column-gap: 40px;
        align-items: center;

        .disabled {
            color: $paletColor4;
            opacity: 0.05;
            pointer-events: none;
        }
    }

    .meta {

        &__title {
            font-family: $font_title;
            font-size: 4em;
        }

        &__description {
            font-size: 1.4em;
            line-height: 1.6;
            margin: 20px 0;
        }

        &__tags {
            font-size: 1.9em;
            line-height: 1.6;
            margin: 20px 0;
            font-family: $font_title;
        }

        &__prev button, &__next button, span {
            background: transparent;
            color: $fontColor;
            font-family: $font-title;
            font-weight: 300;
            font-size: 3em;
            margin: 0;
            padding: 0;
            display: flex;
            align-content: center;
            
        }
        &__prev:active, &__prev:focus {
            outline: none;
        }

        span {
            font-size: 4em;
        }

        &__prev {
            justify-self: end;
            text-decoration: none;
        }

        &__next {
            text-decoration: none;
        }
    
    }

    &__preview {
        overflow: scroll;
        position: absolute;
        width: calc(100% - 768px);
        max-width: 55%;
        right: 0;
        img {
            width: 100%;
        }
        @include lg {
            display: none;
        }
    }


}

/******************************************************
    WORK - Pen 
******************************************************/

.pens {
    

    &__container {
        display: grid;
        grid-template-columns: 100px auto 0;
        margin: 60px auto 0;
        max-width: 1600px;
        padding-top: 400px;
        @include md {
            display: block;
            padding: 0 0 0 2em;
        }
        &::before {
            content: '';
        }
        ul {
  
            list-style-type: none;
        }
    }

    .pen {
        
        a {
            font-size: 3em;
            font-family: $font_title;
            color: $paletColor2;
            margin: 5px;
            position: relative;
            z-index: 10;
            text-decoration: none;
            @include transitions(all .23s ease);

            &:hover {
                color: $paletColor3;
            }
        }
    }

    .pen__display {
        display: flex;
        align-content: center;
        justify-content: center;
        height: 100%;
        @include md {
            display: none;
        }
        &-frame {
            min-width: 500px;
            height: 300px;
            position: absolute;
            right: 10%;
            z-index: 5;
            background-color: $paletColor5;
            box-shadow: 0px 0px 53px #040107;
            border-radius: 6px;

        }
    }
}

/******************************************************
    ABOUT 
******************************************************/

.about {

    padding: 0 2em;
    background-image: radial-gradient(37.43% 68.29% at 29.96% 53.95%, rgba(16, 1, 38, 0.8) 47.4%, #100126 63.02%), url('./assets/about_bg.jpg');
    max-width: 1400px;
    margin: auto;
    background-position: 0 -15%;
    background-size: 1600px auto;
    background-repeat: no-repeat, no-repeat;
    @include md {
        background-image: none;
    }

    &__container {
        display: grid;
        margin: 200px auto 0;
        padding-top: 200px;
        grid-template-columns: minmax(auto, 700px);
        justify-content: end;
            @include md {
                padding: 0;
                margin: 100px auto 0;
            }
    }

    &__content {
        text-align: right;
        h3 {
            font-size: 2em;
            font-weight: 700;
        }
        p {
            font-size: 1.5em;
            margin: 40px 0;
        }

    }

    .traits {
        font-size: 1.4em;
        @include transform(translateX(-200px));

        .toggle__container {
            @include dimensions(60px, 35px);
            display: inline-flex;
            position: relative;
            cursor: pointer;
            font-weight: bold;
            padding-left: 20px;
            }
            
            .switch {
                opacity: 0;
                margin-right: 60px;
                width: 0;
                height: 0;
                &:checked + .slider:before {
                    @include transform(translateX(25px));
                }
            }
            
            .slider {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 50px;
                
                pointer-events: none;
                @include transitions(.4s);
                
                &:before {
                    position: absolute;
                    border-radius: 10%;
                    content: "";
                    left: 5px; 
                    top: 5px;
                    @include dimensions(25px, 25px);
                    @include transitions(.4s);
                }
            }
            
            
            .slider {
                background: $disableColor;
                &:before {
                    border-radius: 50%;
                    background-color: #fff;
                }
            }
            
            .switch:checked + .slider {
                background: $enableColor;
            }
    }

    .skills {
        text-align: center;
        font-size: 1.5em;
        margin: 40px auto;
        max-width: 700px;
        font-weight: 700;
        font-style: italic;
    }
}

/******************************************************
    CONTACT 
******************************************************/

.contact {
    height: calc(100vh - 50px);
    display: grid;
    background-color: $paletColor4;
    color: $fontColor;
    margin-top: 150px;

    @include md {
        min-height: auto;
        margin-top: 0;
       
    }

    &__container {
        @include transform(translateY(100px));
        max-width: 1800px;
        margin: auto;
        padding: 0 2em;
        @include md {
            @include transform(none)
        }
    }

    .contact_header h3 {
        font-size: 3em;
        font-weight: bold;
        width: 100%;
        @include sm {
            font-size: 2em;
        }
    }

    .social_contacts {

        p {
            font-weight: bold;
            font-size: 1.5em;
            text-transform: lowercase;
            margin: 40px 0 20px;
        }

        .social_lists {
            display: grid;
            max-width: 900px;
            width: 100%;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            line-height: 3;
            text-indent: 12px;
            @include md {
                display: block;
                max-width: 100%;
            }
        }

        .link {
            display: flex;
            align-items: center;
            margin: 1em 0;
            color: $paletColor1;
            @include transitions(all .4s ease);
            text-decoration: none;
            font-size: 1.5em;
            &:hover, &:focus {
                color: $contactHover;
                path, rect {
                    @include transitions(all .4s ease);
                    fill: $contactHover;

                }
            }
            @include sm {
                margin: 0em 0;
            }
        }
    }

    svg {
        transform: scale(0.8);
        path, rect {
            fill: $paletColor1
        }
        polygon {
            fill: $paletColor4;
        }
    }

    .get_in_touch {
        margin: 40px 0;
        display: flex;
        justify-content: center;
        line-height: 2;
        font-size: 2em;
        @include sm {
            span {display: none;}
        }
        .btn {
            padding: 0.3em 0.7em;
            font-size: 1em;
            letter-spacing: 3px;
            font-weight: bold;
            font-family: "Montserrat", sans-serif;
            background-size: 600% 100%;
            color: #fff;
            box-shadow: 0 0 50px rgba($paletColor1, .5);
            background-color: $paletColor1;
            background-image: linear-gradient(
                to right, 
                $paletColor1, 
                $paletColor2, 
                $paletColor2, 
                $paletColor1
            );
            @include transitionsMulti (background 3s ease,
                box-shadow .3s ease,
                transform .5s ease);
    
            &:hover {
                background-position: 100% 0;
                box-shadow: 0 5px 50px $paletColor1;
                transform: scale(1.1);
            }
           
            
        }
    }

}

/******************************************************
    CONTACT FORM 
******************************************************/

.quick_contact {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #060744;

    &__wrapper {
        display: grid;
        width: 100%;
        align-content: center;
        justify-content: center;
        height: 100%;
    }

    &__title {
        font-family: $font_title;
        color: $fontColor;
        font-size: 4em;
        display: flex;
        span {
            font-size: 0.4em;
            color: #aaa;
            align-self: end;
            @include transform(translateX(100px) translateY(-22px));
        }
    }

    &__form {
        font-size: 2.5em;
        label {
            display: none;
        }
    }

    input {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #aaa;
        padding: 0;
        margin: 0 2px 0 10px; 
        color: $fontColor;
    }

    .page-1 {
        display: inline-grid;
    }

    .form-group {
        display: inline-flex;
    }

}

/******************************************************
    FOOTER 
******************************************************/

.footer {
    padding: 0 5em;
    color: $fontColor;
    background-color: transparent;
    font-size: 1.2em;
    height: 50px;
    font-size: 0.95em;
    text-align: center;
    width: 100%;
}

/******************************************************
    Cursor 
******************************************************/

.cursor {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    &__dot, &__circle {
        position: absolute;
        top: -200px;
        left: -200px;
        z-index: 9999;
        mix-blend-mode: difference;
        pointer-events: none;

    }

    &__dot {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: $fontColor;
        transition: all .001s linear;
    }

    &__circle {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        border: 2px solid $fontColor;
        transition: all .1s ease-out;
    }

    &.active {

        .cursor__circle {
            transform-origin: 50% 50%;
            border: 1px dashed $fontColor;
            animation: cursor_spin 2s linear infinite;                
        }
    }
}
