
//Animations
@keyframes hero_btn-work {
    0% { box-shadow: 0 0 0 0 $paletColor4; }
    100% { box-shadow: 0 0 0 1em rgba(#fff,0); }
}

@keyframes hero_btn-contact {
    0% { box-shadow: 0 0 0 0 $paletColor4; }
    100% { box-shadow: 0 0 0 1em rgba(#fff,0); }
}

@keyframes cursor_spin {
    0% { transform: scale(1.5) rotate(0deg); }
    100% { transform: scale(1.5) rotate(360deg); }
}

// CSS: transform
@mixin transform($property) { 
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
  }

// CSS: transition
@mixin transitions($time) {
    -webkit-transition: $time;
    transition: $time;
}

// CSS width and height
@mixin dimensions($width, $height) {
    width: $width;
    height: $height;
}

/******************************************
    MEDIA QUERIES
******************************************/

@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 @mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 @mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
 }

 @mixin xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
 }

//Website Display
 @include md {
    $webWidth: 250px;
    $webWHeight: 150px;
 }


::-webkit-scrollbar {
    display: none;
}

*, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -ms-scroll-chaining: none;
    -ms-content-zooming: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: none !important;
}
button, a {
    &:active,
    &:focus {
        outline: none;
    }
}

html {
    font-size: 14px;
    @include lg {
        font-size: 12px;
    }
    @include sm {
        font-size: 10px;
    }
}

body {
    overflow-X: hidden;
    font-family: $font_default;
    color: $fontColor;
    background: $paletColor2 url('') center / cover repeat;
    
}

.site__wrapper {
    max-width: 2000px;
    box-shadow: 0px 0px 50px 50px $paletColor2;
    margin: auto;
    width: 100%;
}

.btn {
    padding: 0.8em 1.7em;
    font-size: 0.7em;
    border-radius: 50px;
    border: 0;
    margin: 0 20px;
}

.section__title {
    font-family: $font_title;
    user-select: none;
    margin-top: 80px;
    h2 {
        opacity: 0.1;
        font-size: 15em;
        line-height: 1;
    }
    p {
        font-size: 3em;
        text-indent: 20px;
    }
}

/******************************************************
    HERO 
******************************************************/

.hero {

    &__background {
        min-height: 800px;
        max-height: 1000px;
        background: $paletColor1 url('./assets/hero_img_v5-bg.jpg') bottom right/2000px auto no-repeat;
    }
    

    &__wrapper {
        min-height: 800px;
        max-height: 1000px;
        @include dimensions(auto, 100vh);
        @include transform(translateX(-10px));
        opacity: 0;
        background: $paletColor1 url('./assets/hero_img_v5.jpg') bottom right/2000px auto no-repeat;
        @include lg {
            background-image: none;
        }
    }

    &__header {
        font-size: 1.7em;
        display: grid;
        align-content: center;
        grid-template-columns: 100px minmax(500px, 900px) 800px;
        @include dimensions(auto, 100%);
        &::before, &::after {
            content: ' ';
        }
        @include lg {
            margin: auto;
            padding: 0 2em;
            display: flex;
            align-items: center;
        }
        
        h1, h3 {
            font-weight: 400;
            margin-bottom: 20px;
            opacity: 0;
        }
        h1 {
            font-size: 1.8em;
            @include sm {
                font-size: 1.4em;
            }
        }
        h3 {
            margin-bottom: 40px;
        }
        span {
            font-weight: 800;
        }
        .call_to_action {
            justify-content: center;
            opacity: 0;
            @include lg {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                justify-items: center;
            }        
            
            button {
                max-width: 150px;
                min-width: 200px;
                margin: 20px;
                @include dimensions(100%, auto);
            }
    
            .view_work {
                color: $fontColor;
                background: -moz-linear-gradient(150deg, $paletColor3 0%, $paletColor4 100%);
                background: -webkit-linear-gradient(150deg, $paletColor3 0%, $paletColor4 100%);
                background: linear-gradient(150deg, $paletColor3 0%, $paletColor4 100%);
                &:hover, &:focus {
                    animation: hero_btn-work 1s;
                }
            }
    
            .contact_me {
                color: $paletColor4;
                background-color: transparent;
                border: 2px solid $paletColor4;
                &:hover, &:focus {
                    animation: hero_btn-contact 1s;
                }
            }
        }
    }

    &__transition {
        @include transform(translateY(-1px));
        -webkit-filter: drop-shadow(20px 0px 25px $paletColor1);
        filter: drop-shadow(20px 0px 25px $paletColor1);
        .cls-1 {
            fill: $paletColor1; 
        }
    }
}

/******************************************************
    PREVIEW 
******************************************************/

.preview {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: $paletColor2;
    top: 0;
    left: 0;
    margin: 0;

    &__content {
        background-color: $paletColor1;
        min-height: 40vh;
    }
}


/******************************************************
    WORK 
******************************************************/

.work {
    .section__title {
        transform: translateX(12%);
    }

    &__display {
        margin-top: 40px;
        margin-bottom: 80px;

        .website, .meta__data {
            @include dimensions($webWidth, $webHeight);
            margin: auto;
        }

        .meta__data {
            position: absolute;
            top: 0;
            font-size: 2em;
            text-align: center;
            z-index: 1;
            padding-top: 30px;
            hr {
                margin: 14px auto;
                width: 70%;
            }
        }

        .website { 
            perspective: 1000px;
            will-change: transform;
            margin-top: 100px;
            background-size: 0, 0;
            

            &:hover {
                .website__cover {
                    @include transform(rotateX(80deg));
                    
                    background-size: 0, cover;
                    transform-origin: bottom;
                    box-shadow: inset 0em -3em 60px 2px rgba(0,0,0,0.6);
                    .view_more {
                        color: rgba(255,255,255,1);
                    }
                    &::before {
                        box-shadow: 0 0 25px 25px rgba(0,0,0,0.5);
                        transform: rotateX(0) translateZ(-60px) scale(0.85);
                    }
                }
            }

            &__cover { 
                @include dimensions(100%, 100%);
                background-size: 0, cover;
                background-position: center;
                box-shadow: inset 0em -3em 10px 10px rgba(0,0,0,0.0);
                transform-style: preserve-3d;
                position: relative;
                z-index: 3;
                @include transitions(all 0.5s);
                pointer-events: none;
                border-radius: 9px;

                .view_more {
                    color: rgba(255,255,255,0);
                    text-transform: uppercase;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    transform: rotateX(-80deg);
                    transform-origin: bottom;
                    z-index: 1;
                    text-align: center;
                    transition: all 1s ease;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.5);
                    box-shadow: 0 0 100px 50px rgba(0,0,0,0.5);
                    transition: all 0.5s;
                    opacity: 0.75;
                    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
                    transform-origin: bottom;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 36px;
                    background: inherit;
                    background-size: cover;
                    background-position: bottom;
                    transform: rotateX(90deg);
                    transform-origin: bottom;
                }
            }

        }

    }

    .pen {
        max-width: 1200px;
        padding: 2em;
        margin: 40px auto;
        text-align: right;
        &__name a {
            font-size: 3em;
            color: $paletColor4;
            @include transitions(all .23s ease);
            
            &:hover {
                color: $paletColor5
            }
        }
    }

}

/******************************************************
    PRACTICE 
******************************************************/

.practice {

    padding-bottom: 60px;
    height: 600px;

    .section__title h2 {
        text-align: center;
    }

    &__display {
        width: 1280px;
        @include xl {
            width: 992px;
        }
        @include md {
            width: 992px;
            
        }
        margin: -80px auto 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        transform: perspective(900px); 
        -webkit-transform: perspective(900px); 
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d; 
        -moz-transform-style: preserve-3d;

        .card {
            position: absolute;
            height: 400px;
            width: 300px;
            margin: 0 auto;
            padding: 2.5em 1.5em;
            border-radius: 1em;
            background: rgb(84,0,50);
            color: $fontColor;
            transition:.6s;
            transform: rotatex(75deg) translatey(-200px) translatez(-100px);
            background: rgb(84,0,50);
            background: -moz-linear-gradient(-45deg,  rgb(84,0,50) 0%, rgb(31,81,163) 50%, rgb(0,56,135) 51%, rgb(130,3,51) 100%);
            background: -webkit-linear-gradient(-45deg,  rgb(84,0,50) 0%,rgb(31,81,163) 50%,rgb(0,56,135) 51%,rgb(130,3,51) 100%);
            background: linear-gradient(135deg,  rgb(84,0,50) 0%,rgb(31,81,163) 50%,rgb(0,56,135) 51%,rgb(130,3,51) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#540032', endColorstr='#820333',GradientType=1 );
            &.active {
                transform: rotatez(0deg) rotatex(0deg);
                box-shadow: 0px 20px 40px 10px rgba(0, 0, 0, 0.1);
              }

              &:nth-of-type(1) {
                left: calc(15% - 150px);
              }
        
               &:nth-of-type(2) {
                left: calc(50% - 150px);
              }
        
               &:nth-of-type(3) {
                left: calc(85% - 150px);
              }


            .logo {
                display: flex;
                justify-content: center;
                img {
                    width: 80px;
                    position: relative;
                    filter: drop-shadow(2px 2px 4px #000);
                }
            }

            &_header {
                font-weight: bold;
                font-size: 1.2em;
                margin: 20px 0;
                text-align: center;
            }

            p {
                text-align: center;
            }

            &-1 .logo {
                img {
                    filter: invert(100%) drop-shadow(2px 2px 4px #000);
                }
            }

            &-2 .logo {
                img:nth-of-type(1) {
                    transform: translateX(35px);
                    z-index: 50;
                }
                img:nth-of-type(2) {
                    transform: translateY(25px);
                    z-index: 49;
                }
                img:nth-of-type(3) {
                    transform: translateX(-35px);
                    z-index: 48;
                }
            }

            &-3 .logo {
                flex-direction: column;
                img {
                    width: 160px;
                    margin: 5px auto;
                }
            }
        }
    }

}

/******************************************************
    ABOUT 
******************************************************/

.about {
    // background-color: #000;
    
    .wrapper {
        display: grid;
        grid-template-columns: 400px auto;
        max-width: 1400px;
        @include dimensions(100%, auto);
        margin: auto;
        padding: 40px 2em;
        @include lg {
            grid-template-columns: 350px auto;
        }
        @include md {
            grid-template-columns: 250px auto;
        }
        @include sm {
            grid-template-columns: auto;
        }
        
    }

    .section__title {
        text-align: right;
    }

    &__img {
        margin-top: 100px;
        background: url('./assets/about_img_v2.jpg') top center/auto 100% no-repeat;
        @include lg {
            display: none;
        }
    }

    &__info {
        
        
        color: #fff;

        h3 {
            font-size: 4em;
            font-weight: bold;
            text-align: right;
        }

        & > p {
            font-size: 1.6em;
            margin: 20px 0;
            text-align: right;
        }

        .traits {
            font-size: 1.4em;
            display: grid;
            justify-content: end;
            transform: translateX(-200px);

            .toggle__container {
                @include dimensions(60px, 35px);
                display: inline-flex;
                position: relative;
                cursor: pointer;
                }
                
                .switch {
                    opacity: 0;
                    margin-right: 60px;
                    width: 0;
                    height: 0;
                    &:checked + .slider:before {
                        @include transform(translateX(25px));
                    }
                }
                
                .slider {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 50px;
                    pointer-events: none;
                    @include transitions(.4s);
                    
                    &:before {
                        position: absolute;
                        border-radius: 10%;
                        content: "";
                        left: 5px; 
                        top: 5px;
                        @include dimensions(25px, 25px);
                        @include transitions(.4s);
                    }
                }
                
                
                .slider {
                    background: $disableColor;
                    &:before {
                        border-radius: 50%;
                        background-color: #fff;
                    }
                }
                
                .switch:checked + .slider {
                    background: $enableColor;
                }
        }

        .skills {
            text-align: center;
        }
    }
 

}

/******************************************************
    CONTACT 
******************************************************/

.contact {
    height: calc(100vh - 50px);
    display: grid;
    background-color: $paletColor2;
    color: #ffe;
    @include sm {
        min-height: auto;
    }

    .wrapper {
        max-width: 1800px;
        margin: auto;
        padding: 0 2em;
    }

    .contact_header h3 {
        font-size: 3em;
        font-weight: bold;
        width: 100%;
        @include sm {
            font-size: 2em;
        }
    }

    .social_contacts {

        p {
            font-weight: bold;
            font-size: 1.5em;
            text-transform: lowercase;
            margin: 40px 0 20px;
        }

        .social_lists {
            display: grid;
            max-width: 900px;
            width: 100vw;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            line-height: 3;
            text-indent: 12px;
        }

        .link {
            display: flex;
            align-items: center;
            margin: 1em 0;
            color: $paletColor3;
            transition: all .23s ease;
            font-size: 1.5em;
            &:hover, &:focus {
                color: $paletColor4;
                path, rect {
                    transition: all .23s ease;
                    fill: $paletColor4;

                }
            }
            @include sm {
                margin: 0em 0;
            }
        }
    }

    svg {
        transform: scale(0.8);
        path, rect {
            fill: $paletColor3
        }
        polygon {
            fill: $paletColor2;
        }
    }

    .get_in_touch {
        margin: 40px 0;
        display: flex;
        justify-content: center;
        line-height: 2;
        font-size: 2em;
        @include sm {
            span {display: none;}
        }
        .btn {
            padding: 0.3em 0.7em;
            font-size: 1em;
            letter-spacing: 3px;
            font-weight: bold;
            font-family: "Montserrat", sans-serif;
            background-size: 600% 100%;
            color: #fff;
            box-shadow: 0 0 50px rgba($paletColor4, .5);
            background-color: $paletColor4;
            background-image: linear-gradient(
                to right, 
                $paletColor4, 
                $paletColor4, 
                $paletColor4, 
                $paletColor4
            );
            -o-transition: 
                background $transitionBGSpeed ease, 
                box-shadow $transitionShadowSpeed ease,
                transform $transitionScaleSpeed ease;
            -webkit-transition: 
                background $transitionBGSpeed ease, 
                box-shadow $transitionShadowSpeed ease,
                transform $transitionScaleSpeed ease;
            transition: 
                background $transitionBGSpeed ease, 
                box-shadow $transitionShadowSpeed ease,
                transform $transitionScaleSpeed ease;
    
            &:hover {
                background-position: 100% 0;
                box-shadow: 0 5px 50px $paletColor4;
                transform: scale(1.1);
            }
           
            
        }
    }

}

/******************************************************
    FOOTER 
******************************************************/

.footer {
    padding: 0 5em;
    color: $fontColor;
    background-color: transparent;
    font-size: 1.2em;
    height: 50px;
    font-size: 0.95em;
}


/******************************************************
    Cursor 
******************************************************/

    .cursor {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        
        &__dot, &__circle {
            position: absolute;
            top: -100px;
            left: -100px;
            z-index: 9999;
            mix-blend-mode: difference;
            pointer-events: none;

        }

        &__dot {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: $fontColor;
            transition: all .001s linear;
        }

        &__circle {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            border: 2px solid $fontColor;
            transition: all .1s ease-out;
        }

        &.active {

            .cursor__circle {
                transform-origin: 50% 50%;
                border: 1px dashed $fontColor;
                animation: cursor_spin 2s linear infinite;                
            }
        }


    }
