@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

$font_title: 'Oswald', sans-serif;
$font_paragraph: 'Montserrat', sans-serif;

@font-face {
    font-family: "Morganite";
    src: url("./assets/fonts/Morganite-Book.ttf");
}

@mixin transform($property) { 
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
  }

@keyframes heroButton_1 {
    0% { box-shadow: 0 0 0 0 $colorPalet5; }
    100% { box-shadow: 0 0 0 1em rgba(#fff,0); }
}

@keyframes heroButton_2 {
    0% { box-shadow: 0 0 0 0 $colorPalet5; }
    100% { box-shadow: 0 0 0 1em rgba(#fff,0); }
}

@keyframes cursor_spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@mixin dimensions($width, $height) {
    width: $width;
    height: $height;
  }

@mixin transitions($time) {
    -webkit-transition: $time;
    transition: $time;
}

/******************************************
    MEDIA QUERIES
******************************************/

@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 @mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 @mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
 }

 @mixin xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
 }

//Website Display
 @include md {
    $webWidth: 250px;
    $webWHeight: 150px;
 }


::-webkit-scrollbar {
    display: none;
}

*, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -ms-scroll-chaining: none;
    -ms-content-zooming: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: none !important;
}
button, a {
    &:active,
    &:focus {
        outline: none;
    }
}

html {
    font-size: 14px;
}

body {
    @include dimensions(100%, auto);
    overflow-X: hidden;
    font-family: $font_paragraph;
    max-width: 2500px;
    margin: auto;
    color: #ffe;
    height: 100%;
    background-color: $colorPalet1;
}

.btn {
    padding: 0.4em 1.7em;
    font-size: 0.7em;
    border-radius: 50px;
    border: 0;
    margin: 0 20px;
    cursor: pointer;
}

.section__title {
    font-family: $font_title;
    user-select: none;
    color: rgba(255,255,255,0.1);
    font-size: 15em;
}

/******************************************************
    HERO 
******************************************************/

.hero {

    &__wrapper {
        @include dimensions(100%, auto);
        display: flex;
        flex-direction: row;
        @include md {
            flex-direction: column-reverse;
        }
    }

    &__header {
        display: grid;
        align-content: center;
        margin: 0 5%;
        z-index: 10;
        max-width: 900px;
        @include md {
            justify-items: center;
            text-align: center;
        }
        h1, h3 {
            font-weight: 400;
            font-size: 3.0em;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 2.4em;
            margin-bottom: 40px;
        }
        span {
            font-weight: 800;
        }
    }

    .call_to_action {
        font-size: 2.4em;
        justify-content: center;
        @include xl {
            display: flex;
        }
        @include lg {
            flex-direction: column;
        }
        @include md {
            flex-direction: row;
            button {margin: 20px !important;}
        }
        
        
        button {
            max-width: 250px;
            @include dimensions(100%, auto);
            margin: 20px;
            @include lg {
                margin: 20px auto;
                max-width: none;
                width: auto;
                min-width: 200px;
            }
            @include md {
                margin: 20px;
            }
            @include sm {
                margin: 0px;
                min-width: 0;
            }
        }

        .view_work {
            color: #fff;
            background: linear-gradient(150deg, #820333 0%, #C9283E 100%);
            &:hover, &:focus {
                animation: heroButton_1 1s;
            }
        }

        .contact_me {
            background: $colorPalet1;
            border: 2px solid $colorPalet5;
            color: $colorPalet5;
            transition: all 0.3s ease 0s;
            &:hover, &:focus {
                border: 2px solid $colorPalet5;
                animation: heroButton_2 1s;
            }
        }
    }

    &__profile {
        display: grid;
        justify-content: center;
        width: 100%;
        @include md {
            margin-top: 40px;
            height: 250px;
        }

        .img__wrapper {
            min-height: 700px;
            @include dimensions(auto, 100vh);
            img {
                object-fit: contain;
                height: 100%;
            }
            .img__profile-mobile {
                height: 200px;
            }
        }
    }
}

/******************************************************
    PREVIEW 
******************************************************/

.preview {
    @include dimensions(80vw, 90vh);
    position: fixed;
    border-radius: 3px;
    left: 10vw;
    top: 5vh;
    background: green;
    z-index: 100;
}


/******************************************************
    WORK 
******************************************************/

.work {

    .section__title h2 {
        text-align: right;
        transform: translateX(-10%);
    }

    .display__sites {
        @include dimensions(85vw, auto);
        max-width: 1800px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax($webWidth, 1fr));
        justify-items: center;
    }

    .website {
        @include dimensions($webWidth, $webWHeight);
        margin: 1em 2em;
        background-repeat: no-repeat;
        background-size: auto 100%;
        display: grid;
        justify-content: start;
        align-content: end;
        cursor: pointer;
        box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
        0 2px 2px rgba(0,0,0,0.15), 
        0 4px 4px rgba(0,0,0,0.15), 
        0 8px 8px rgba(0,0,0,0.15);

        .label {
            transform: translateX(-10px);
            text-align: right;
            color: #fff;
            font-size: 1.5em;
            font-weight: bold;
            text-shadow: 2px 2px 3px #444;
            hr {
                margin: 3px;
            }
        }
    }

}



/******************************************************
    PRACTICE 
******************************************************/

.practice {

    .section__title h2 {
        text-align: center;
    }

}


/******************************************************
    ABOUT 
******************************************************/

.about {
    background-color: #000;
    
    .wrapper {
        display: grid;
        grid-template-columns: 400px auto;
        max-width: 1400px;
        @include dimensions(100%, auto);
        margin: auto;
        padding: 40px 2em;
        @include lg {
            grid-template-columns: 350px auto;
        }
        @include md {
            grid-template-columns: 250px auto;
        }
        @include sm {
            grid-template-columns: auto;
        }
        
    }

    .section__title {
        color: #373737;
        text-align: right;
    }

    &__img {
        display: grid;
        align-content: center;
        img {width: 100%;}
        @include sm {
            display: none;
        }
    }

    &__info {
        
        color: #fff;

        h3 {
            font-size: 4em;
            font-weight: bold;
            text-align: right;
        }

        & > p {
            font-size: 1.6em;
            margin: 20px 0;
            text-align: right;
        }

        .traits {
            font-size: 1.4em;
            display: grid;
            justify-content: end;
            transform: translateX(-200px);

            .toggle__container {
                @include dimensions(60px, 35px);
                display: inline-flex;
                position: relative;
                cursor: pointer;
                }
                
                .switch {
                    opacity: 0;
                    margin-right: 60px;
                    width: 0;
                    height: 0;
                    &:checked + .slider:before {
                        @include transform(translateX(25px));
                    }
                }
                
                .slider {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 50px;
                    pointer-events: none;
                    @include transitions(.4s);
                    
                    &:before {
                        position: absolute;
                        border-radius: 10%;
                        content: "";
                        left: 5px; 
                        top: 5px;
                        @include dimensions(25px, 25px);
                        @include transitions(.4s);
                    }
                }
                
                
                .slider {
                    background: $disableColor;
                    &:before {
                        border-radius: 50%;
                        background-color: #fff;
                    }
                }
                
                .switch:checked + .slider {
                    background: $enableColor;
                }
        }

        .skills {
            text-align: center;
        }
    }
 

}

/******************************************************
    CONTACT 
******************************************************/

.contact {
    height: calc(100vh - 50px);
    display: grid;
    background-color: $colorPalet1;
    color: #ffe;
    @include sm {
        min-height: auto;
    }

    .wrapper {
        max-width: 1800px;
        margin: auto;
        padding: 0 2em;
    }

    .contact_header h3 {
        font-size: 3em;
        font-weight: bold;
        width: 100%;
        @include sm {
            font-size: 2em;
        }
    }

    .social_contacts {

        p {
            font-weight: bold;
            font-size: 1.5em;
            text-transform: lowercase;
            margin: 40px 0 20px;
        }

        .social_lists {
            display: grid;
            max-width: 900px;
            width: 100vw;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            line-height: 3;
            text-indent: 12px;
        }

        .link {
            display: flex;
            align-items: center;
            margin: 1em 0;
            color: $colorPalet3;
            transition: all .23s ease;
            font-size: 1.5em;
            &:hover, &:focus {
                color: $colorPalet5;
                path, rect {
                    transition: all .23s ease;
                    fill: $colorPalet5;

                }
            }
            @include sm {
                margin: 0em 0;
            }
        }
    }

    svg {
        transform: scale(0.8);
        path, rect {
            fill: $colorPalet3
        }
        polygon {
            fill: $colorPalet1;
        }
    }

    .get_in_touch {
        margin: 40px 0;
        display: flex;
        justify-content: center;
        line-height: 2;
        font-size: 2em;
        @include sm {
            span {display: none;}
        }
        .btn {
            padding: 0.3em 0.7em;
            font-size: 1em;
            letter-spacing: 3px;
            font-weight: bold;
            font-family: "Montserrat", sans-serif;
            background-size: 600% 100%;
            color: #fff;
            box-shadow: 0 0 50px rgba($colorPalet5, .5);
            background-color: $colorPalet5;
            background-image: linear-gradient(
                to right, 
                $colorPalet5, 
                $colorPalet6, 
                $colorPalet6, 
                $colorPalet5
            );
            moz-transition: 
                background $transitionBGSpeed ease, 
                box-shadow $transitionShadowSpeed ease,
                transform $transitionScaleSpeed ease;
            -o-transition: 
                background $transitionBGSpeed ease, 
                box-shadow $transitionShadowSpeed ease,
                transform $transitionScaleSpeed ease;
            -webkit-transition: 
                background $transitionBGSpeed ease, 
                box-shadow $transitionShadowSpeed ease,
                transform $transitionScaleSpeed ease;
            transition: 
                background $transitionBGSpeed ease, 
                box-shadow $transitionShadowSpeed ease,
                transform $transitionScaleSpeed ease;
    
            &:hover {
                background-position: 100% 0;
                box-shadow: 0 5px 50px $colorPalet5;
                transform: scale(1.1);
            }
           
            
        }
    }

}

/******************************************************
    FOOTER 
******************************************************/

.footer {
    padding: 0 5em;
    color: $textColor;
    background-color: transparent;
    font-size: 1.2em;
    height: 50px;
    font-size: 0.95em;
}


/******************************************************
    Cursor 
******************************************************/



    .dot {
        position: absolute;
        width: 7px;
        height: 7px;
        left: 0;
        top: 0;
        background-color: $textColor;
        border-radius: 5px;
        transition: all .001s linear;
        z-index: 9999;
        pointer-events: none;
    }

    .cursor_animate {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9998;
        transition: all .1s ease-out;
        pointer-events: none;

        &.active--clickable {

            transform: scale(2);
    
            .cursor_circle {
                animation: cursor_spin 2s linear infinite;
                stroke-width: 1;
                stroke-dasharray: 10;
                transform-origin: 50% 50%;
            }
        }
    }

    .cursor_circle {
        fill: none;
        stroke: #fff;
        stroke-width: 4;
        stroke-dasharray: 0;
    }
