$colorPalet1: #150215; //Primary for backgrounds
$colorPalet2: #540032;
$colorPalet3: #820333;
$colorPalet4: #0C0F40;
$colorPalet5: #C9283E;
$colorPalet6: #F0433A;
$green: #20bf6b;
$textColor: #ffe;

$tablet-width: 768px;
$desktop-width: 1024px;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1280px;

$webWidth: 410px;
$webWHeight: 230px;

$disableColor: #c62d1f;
$enableColor: #74ad5a;

$transitionBGSpeed: 3s;
$transitionScaleSpeed: .5s;
$transitionShadowSpeed: .3s;