// FONTS

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');

$font_title: 'Oswald', sans-serif;
$font_default: 'Montserrat', sans-serif;
$fontColor: #eee;

//COLOR PALET

$paletColor1: #F2059F;
$paletColor2: #48038C; //Primary for backgrounds
$paletColor3: #5204BF;
$paletColor4: #100126;
$paletColor5: #0F0140;

$contactHover: #31D1EB;


//MEDIA SIZES

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1280px;

$webWidth: 410px;
$webHeight: 230px;

$penWidth: 310px;
$penHeight: 375px;

$disableColor: #ff2929;
$enableColor: #50af24;
