@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700&display=swap');

@font-face {
    font-family: "Morganite";
    src: url("/portfolio_app/fonts/Morganite-Book.ttf") format('truetype');
}

*, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-scroll-chaining: none;
    -ms-content-zooming: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    font-size: 16px;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    background-color: $colorPalet5;
}

.btn {
    padding: 0.5em 1em;
    cursor: pointer;
}

strong {
    font-weight: 700;
}


.page-container {
    padding: 0 2em;
    position: relative;
    z-index: 10;
}